@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

body {
  color: rgb(var(--foreground-rgb));
  background: white;
  margin: 1em;
  padding: 0;
  font-family: Google Sans, Noto, Roboto, Helvetica Neue, sans-serif;
  color: #244376;
}

model-viewer {
  margin: 30px auto 50px auto;
  width: 100%;
  height: 400px;
  --poster-color: #ffffff00;
}

.heading {
  margin: 30px auto;
}

h1 {
  font-weight: bold;
}


@media (min-width: 500px) {
  model-viewer {
    width: 50%;
  }
  .heading {
    width: 50%;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

